@model ForgotPasswordViewModel
@{
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="auth-panel">
            <div class="auth-panel-inner">
                <div style="height: 100px;" class="flex-btw">
                    <h2>Forgot Your Password?</h2>
                    <div><a asp-action="Index" asp-controller="home">back to home</a></div>
                </div>
                <div asp-validation-summary="All"></div>
                <form method="post" asp-action="ForgotPassword" asp-controller="Account">
                    <p><input asp-for="Email" placeholder="Email" autocomplete="off" /></p>
                    
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>

                <p>
                    Still Remember Your Password? <a asp-action="Login" asp-controller="Account">Login here</a>
                </p>

                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <p>@ViewBag.Message</p>
                }


            </div>
        </div>
    </main>
</div>
