@model UserToRegisterViewModel
@{
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="auth-panel">
            <div class="auth-panel-inner">
                <div style="height: 100px;" class="flex-btw">
                    <h2>Register here...</h2>
                    <div><a asp-action="Index" asp-controller="home">back to home</a></div>
                </div>
                <div asp-validation-summary="All"></div>
                <form method="post" asp-action="Register" asp-controller="Account">
                    <p><input asp-for="FirstName" placeholder="First name" autocomplete="off" /></p>
                    <p><input asp-for="LastName" placeholder="Last name" autocomplete="off" /></p>
                    <p><input asp-for="Email" placeholder="Email" autocomplete="off" /></p>
                    <p><input asp-for="PhoneNumber" placeholder="Phone number" autocomplete="off" /></p>
                    <p><input asp-for="Password" placeholder="Password" autocomplete="off" /></p>
                    <p><input asp-for="ConfirmPassword" placeholder="Confirm password" autocomplete="off" /></p>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
                <p>
                    Already have an account? <a asp-action="Login" asp-controller="Account">Login here</a>
                </p>

            </div>
        </div>
    </main>
</div>
