@{
    string name = string.IsNullOrEmpty(ViewBag.Name) ? "User" : ViewBag.Name;
}

<Partial name="_NavbarPartial" />
<div class="congrat-box">
   <div class="access-denied-img">
        <img src="~/images/access_denied.jpg" />
   </div>
</div>